{% extends "app/layout.html" %}

{% block content %}

<div class="main_content">
    <h1>Наши контакты</h1>
    <div class="contacts flex">
        <div class="text">
            <p>Телефон: 8 800 800-80-80</p>
            <p>Адрес: г.Остров, ул. Спартка, д.10</p>
            <p>E-mail: bonesshop@bonesplay.org</p>
            <a>VK: https://vk.com/playingbones</a>
        </div>
        <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/20641/ostrov/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Остров</a><a href="https://yandex.ru/maps/20641/ostrov/house/ulitsa_spartaka_10/ZkEYdQNnTkMAQFttfX91c35kYA==/?ll=28.348362%2C57.342116&utm_medium=mapframe&utm_source=maps&z=17.09" style="color:#eee;font-size:12px;position:absolute;top:14px;">Улица Спартака, 10 — Яндекс.Карты</a><iframe src="https://yandex.ru/map-widget/v1/-/CCQneACl9D" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
    </div>
</div>


{% endblock %}
