{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}

<div class="main_content">
    <p>Магазин настольных игр Playing Bones
        Уютный и атмосферный фирменных магазин настольных игр, в ассортименте которого представлен прекрасный выбор для интересного и увлекательного времяпровождения, как для заядлых фанатов, так и для тех, кто только знакомится с этим хобби.</p>
    <p>В магазине можно купить настольные игры предназначенные для самой разнообразной аудитории: семейные, игры для вечеринок, для детей, ролевые, сложные стратегические и коллекционно-карточные.</p>
   <p>У нас есть все! Или почти все.</p>
   <p>Не знаете, чем занять большую компанию? Мы знаем!
    Нужны настольные игры на двоих? Без проблем.
    Хотите весело и с пользой провести время с детьми? Приобщайте их к настольным играм.
    Любите хардкорные экономические стратегии? Не вопрос!
    Нравятся ролевые настольные игры? Вселенные Dungeons&Dragons, Pathfinder, Starfinder и еще куча всего ролевого-интересного уже вас ждут.</p>
    <p>Если вы все-таки зависли, изучая наш ассортимент, то без стеснения звоните нам по номеру 8 800 800-80-80 (бесплатно по всей России), пишите на почту bonesshop@bonesplay.org или в группу ВК https://vk.com/playingbones, и мы поможем вам разобраться.</p>
    <p>Мы просто очень любим настольные игры и все, что с ними связано. Да, и своих единомышленников тоже :) Играйте в настольные игры вместе с нами!</p>
</div>

{% endblock %}

